.clothing-card {
    width: 470px; /* Adjusted width */
    height: 800px; /* Adjusted height */
    background-color: white;
    text-align: left;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.clothing-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Shadow on hover */
    cursor: pointer;
}
.clothing-image {
    width: 100%;
    height: 100%;
    object-fit: fit; /* Cover the container without stretching */
}

.clothing-image-container {
    width: 470px;
    height: 800px; /* Occupy 80% of the card height */
    overflow: hidden;
    position: relative;
}
.clothing-info {
    padding: 10px;
    height: 1; /* Remaining height for the info */
}

.clothing-name {
    font-size: 18px;
    color: #000; /* Black color for the name */
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.clothing-price {
    font-size: 16px;
    color: #555; /* Dark gray color for the price */
    margin: 0;
    padding: 5px 0;
}


.clothing-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal overflow */

}

/* Responsive styles */
@media (max-width: 768px) {
    .clothing-card {
        width: 100%;
        height: auto;
    }

    .clothing-image-container {
        width: 100%;
        height: auto;
    }

    .clothing-image {
        height: auto;
    }

    .clothing-cards-container {
        flex-direction: column;
        align-items: center;
    }
}
