.clothing-items-container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.clothing-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000; /* Black color for the title */
    text-align: left;
    font-weight: bold;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.clothing-cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden; /* Prevent vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    padding-bottom: 20px; /* Padding at the bottom for the scrollbar */
    height: 100%; /* Set height to avoid vertical scrolling */
}

.clothing-cards::-webkit-scrollbar {
    height: 10px; /* Height of the scrollbar */
}

.clothing-cards::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.clothing-cards::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
}


.clothing-cards::-webkit-scrollbar {
    height: 4px; /* Height of the scrollbar */
  }
  
  .clothing-cards::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
  }
  
  .clothing-cards::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 1px; /* Rounded corners of the thumb */
  }
  
  .clothing-cards::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }
  /* Responsive styles */
@media (max-width: 768px) {
    .clothing-items-container {
        padding: 10px;
    }

    .clothing-title {
        font-size: 24px;
        text-align: center;
    }

    .carousel {
        flex-direction: column;
        align-items: center;
    }

    .clothing-cards {
        gap: 10px;
        padding-bottom: 10px;
    }
}
