.shopAllContainer {
    display: flex;
    padding: 20px;
}

.leftContainer {
    width: 25%;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.rightContainer {
    width: 75%;
    padding-left: 20px;
    overflow: hidden; /* Prevent overflow and horizontal scrolling */
}

.heading {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

.clothingGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    gap: 20px; /* Space between items */
}

.filterSection {
    margin-bottom: 20px;
}

.filterSection h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.filterSection ul {
    list-style: none;
    padding: 0;
}

.filterSection li {
    margin-bottom: 10px;
}

.priceInput {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.priceRange {
    width: 100%;
}
