body {
  margin: 0;
  font-family: Neuzeit S, sans-serif;
  font-family: Neuzeit S, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5em;
  color: #494949;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
      padding: 12px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


